<div class="navbar" th:fragment="navbar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a href="/items">Home</a>
    <a href="/cart/view">Cart</a>
    <div sec:authorize="hasRole('ROLE_USER')">
        <a href="/orders/history">Order History</a>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/admin/users">User Management</a>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/admin/all-orders">Order History</a>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/admin/category">Categories</a>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/admin/item">Items</a>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/admin/logins">Logins</a>
    </div>
    <span style="flex:1"></span>
    <div sec:authorize="isAuthenticated()">
        <span th:text="${#authentication.name}">Username</span>
        <a href="/logout">Logout</a>
    </div>
    <div sec:authorize="isAnonymous()">
        <a href="/login">Login</a>
    </div>
</div>